@import '@/styles/animations.scss';
@import '@/styles/mixins.scss';
@import '@/styles/globals.scss';

.footer {
  width: 100%;
  padding: 30px 0;

  .fix {
    @include flex-column;
    @include width-fix;
  }

  .copyrights {
    @include flex-row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: var(--font-color-primary);
    font-size: $font-size-m;

    .name {
      @include flex-row-inline;
      gap: 10px;
      align-items: center;
      font-weight: $font-weight-medium;

      .logo {
        @include background-contain;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: auto;
        border-radius: 50%;
      }
    }

    .container {
      @include flex-row-inline;
      gap: 6px;
      align-items: center;

      .link {
        @include flex-row;
        align-items: center;
        color: var(--blue-color);

        .icon {
          font-size: $font-size-xl;
          margin-right: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
}
