@import '../animations.scss';
@import '../mixins.scss';
@import '../globals.scss';

$height: 40px;

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition-property: background-color, top;
  transition-timing-function: $transition-ease;
  transition-duration: $transition-s;
  background-color: transparent;
  padding: 0 20px;
  top: 20px;
  left: 0;

  .fix {
    @include flex-row;
    @include width-fix;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    max-width: 1260px;
    border-radius: $border-radius-global;
    transition-property: padding;
    transition-timing-function: $transition-ease;
    transition-duration: $transition-s;
  }

  .logo {
    @include background-contain;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: $height;
    width: auto;
    border-radius: 50%;
    transition-duration: $transition-f;
    transition-timing-function: $transition-ease;
    transition-property: box-shadow;
    box-shadow: 0 0px 0px var(--primary-color-transparent);
  }

  .logo:hover {
    box-shadow: 0 0 30px var(--primary-color-transparent);
  }

  .navbarcontainer {
    .navbar {
      @include flex-row;
      align-items: center;
      justify-content: center;
      gap: 2px;

      .link:first-child {
        margin-left: 16px;
      }
    }
  }

  .upbutton {
    margin-left: 12px;
    pointer-events: none;
    opacity: 0;
  }

  .button {
    margin-left: auto;
  }
}

.header.stick {
  top: 12px;

  .fix {
    backdrop-filter: blur(5px);
    background-color: var(--primary-color-more-transparent);
    padding: 10px;
  }

  .upbutton {
    pointer-events: unset;
    opacity: 1;
  }
}

@media screen and (max-width: 530px) {
  .navbarcontainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 10;

    .navbar {
      @include flex-row;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      backdrop-filter: blur(5px);
      background-color: var(--primary-color-more-transparent);
      border-radius: $border-radius-global;
      gap: 0;
    }
  }
}
