@import '../animations.scss';
@import '../mixins.scss';
@import '../globals.scss';

.container {
   @include flex-column;
   position: relative;
   width: 100%;

   .education {
      @include flex-row;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 20px;
      padding: 10px;
      color: var(--font-color-secondary);
      font-weight: $font-weight-medium;
      font-size: $font-size-em;
      line-height: $font-size-2xl;

      .bold {
         color: var(--font-color-primary);
         font-weight: $font-weight-semibold;
      }
   }
}
