@import '../animations.scss';
@import '../mixins.scss';
@import '../globals.scss';

.container {
  @include flex-column;
  width: 100%;
  position: relative;

  .projectcontainer {
    @include flex-column;
    width: 100%;

    .animatedcontainer {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      .project {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .slider {
          width: 38%;
          aspect-ratio: 7/6;
          margin: 0 0 20px;
        }

        .content {
          width: 62%;
          padding-left: 30px;

          .section {
            @include flex-column;
            margin-bottom: 32px;
            width: 100%;

            .title {
              position: relative;
              width: fit-content;
              font-weight: $font-weight-semibold;
              font-size: $font-size-l;
              color: var(--font-color-primary);
              margin-bottom: 10px;

              .accent {
                font-weight: $font-weight-medium;
                font-size: $font-size-em;
                color: var(--font-color-secondary);
                margin-left: 4px;
              }
            }

            .description {
              width: 100%;
              font-weight: $font-weight-regular;
              font-size: $font-size-em;
              color: var(--font-color-secondary);

              .bold {
                font-weight: $font-weight-semibold;
                color: var(--font-color-primary);
              }
            }

            .skillcontainer {
              @include flex-row;
              flex-wrap: wrap;

              .skill {
                @include flex-row;
                align-items: center;
                height: 40px;
                padding: 0 16px 0 8px;
                margin-bottom: 20px;
                margin-right: 15px;
                width: fit-content;
                border-radius: 7px;
                background-color: var(--more-transparent-background);

                .name {
                  @include overflow-ellipsis;
                  width: 100%;
                  color: var(--font-color-primary);
                  font-weight: $font-weight-medium;
                  font-size: $font-size-r;
                }

                .logo {
                  font-size: $font-size-xl;
                  color: var(--blue-color);
                  margin-right: 15px;
                }
              }
            }

            .linkcontainer {
              @include flex-row;
              flex-wrap: wrap;

              .link {
                margin-right: 15px;
                margin-bottom: 20px;
              }
            }

            &:nth-child(2) {
              margin-bottom: 12px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &.reverse {
          flex-direction: row-reverse;

          .content {
            padding-left: 0;
            padding-right: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .projectcontainer {
      .animatedcontainer {
        .project {
          flex-wrap: wrap;

          .slider {
            width: 100%;
          }

          .content {
            width: 100%;
            padding-left: 0;

            .section {
              .skillcontainer {
                justify-content: space-between;

                .skill {
                  width: 46%;
                  margin-right: 0;
                }
              }

              .linkcontainer {
                justify-content: space-between;

                .link {
                  width: 46%;
                  margin-right: 0;
                }
              }
            }
          }

          &.reverse {
            flex-direction: row;

            .content {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .projectcontainer {
      .animatedcontainer {
        .project {
          .content {
            .section {
              .title {
                font-size: $font-size-em;

                .accent {
                  font-size: $font-size-m;
                }
              }

              .skillcontainer {
                .skill {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
