//Imported styles
@import "../animations.scss";
@import "../mixins.scss";
@import "../globals.scss";

//Summary styles desktop
.container {
	@include flex-column;
	position: relative;
	width: 100%;

	.companycontainer {
		@include flex-row;
		align-items: center;
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px;
		width: 100%;
		border-radius: $border-radius-global;
		border: 1px solid var(--contrast-color);
		background-color: var(--more-transparent-background);
		color: var(--font-color-secondary);
		font-weight: $font-weight-medium;
		font-size: $font-size-em;
		line-height: $font-size-2xl;
		transition-duration: $transition-m;
		transition-timing-function: $transition-ease;
		transition-property: padding-right, padding-left, background-color;

		.bold {
			color: var(--font-color-primary);
			font-weight: $font-weight-semibold;
		}

		.imagecontainer {
			text-align: center;
			width: 50px;
			height: 50px;
			margin-right: 15px;
			z-index: 1;

			.image {
				@include background-contain;
				width: auto;
				height: 50px;
				border-radius: 5px;
			}
		}

		.text {
			margin-right: 10px;
		}

		.icon {
			margin-right: 10px;
			margin-left: auto;
			font-size: $font-size-2xl;
			transition-duration: $transition-m;
			transition-timing-function: $transition-ease;
			transition-property: right, opacity;
			z-index: 1;
		}
	}

	.companycontainer:hover {
		background-color: var(--transparent-background);
	}

	.companycontainer:first-child {
		margin-top: 0;
	}

	.experience {
		.icon {
			vertical-align: middle;
			font-size: $font-size-xl;
			margin-right: 10px;
			margin-bottom: 5px;
		}

		.text {
			color: var(--font-color-secondary);
			font-weight: $font-weight-medium;
			font-size: $font-size-em;
			line-height: $font-size-2xl;

			.bold {
				color: var(--font-color-primary);
				font-weight: $font-weight-semibold;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.container {
		.companycontainer {
			font-size: $font-size-m;

			.text {
				margin-right: 0;
			}

			.icon {
				display: none;
			}
		}

		.companycontainer:hover {
			.icon {
				opacity: 0;
			}
		}

		.experience {
			.text {
				font-size: $font-size-m;
			}
		}
	}
}
