//Imported styles
@import "@/styles/animations.scss";
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//Header styles desktop
$height: 40px;

.header {
	position: fixed;
	z-index: 10;
	width: 100%;
	transition: background-color $transition-m $transition-ease,
		padding $transition-m $transition-ease;
	background-color: transparent;
	top: 0;
	left: 0;
	padding: 20px;

	.fix {
		@include flex-row;
		@include width-fix;
		padding: 0 20px;
		align-items: center;
		justify-content: flex-start;
	}

	.logo {
		@include gradient-animation-effect;
		@include flex-row;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		height: $height;
		aspect-ratio: 1 / 1;
		border-radius: $height/2;
		margin-right: 8px;
		padding-top: 5px;
		transition: $transition-f;
		box-shadow: 0 0px 0px var(--primary-color-transparent);

		.image {
			@include background-contain;
			height: $height/1.5;
			width: auto;
			transition: $transition-f;
		}
	}

	.logo:hover {
		@include gradient-animation-effect-hover;
		box-shadow: 0 0 30px var(--primary-color-transparent);
	}

	.navbar {
		@include flex-row;
		align-items: center;
		justify-content: center;

		.link:first-child {
			margin-left: 15px;
		}
	}

	.upbutton {
		pointer-events: none;
		opacity: 0;
		display: block;
		height: $height;
		width: $height;
		padding: 0;
		min-width: unset;
		align-items: center;
		line-height: 0;
		border-radius: $border-radius-global;
		color: var(--blue-color);
		background-color: transparent;
		transition: background-color $transition-f $transition-ease,
			opacity $transition-s $transition-ease;

		.icon {
			position: absolute;
			top: calc(($height / 2) - calc($font-size-xxxl / 2));
			left: calc(($height / 2) - calc($font-size-xxxl / 2));
			font-size: $font-size-xxxl;
			transition: opacity $transition-s $transition-ease;
		}

		.icon.first {
			opacity: 1;
		}

		.icon.second {
			opacity: 0;
		}
	}

	.upbutton:hover {
		background-color: var(--transparent-background);

		.icon.first {
			opacity: 0;
		}

		.icon.second {
			opacity: 1;
		}
	}

	.button {
		margin-left: auto;
		font-size: $font-size-r;
	}
}

.stick {
	backdrop-filter: blur(5px);
	background-color: var(--primary-color-more-transparent);
	padding: 10px 20px;

	.upbutton {
		opacity: 1;
		pointer-events: unset;
	}
}

@media screen and (max-width: 1050px) {
	.header {
		.fix {
			padding: 0;
		}

		.button {
			display: none;
		}

		.upbutton {
			.icon.first {
				display: none;
			}

			.icon.second {
				opacity: 1;
			}
		}
	}
}
