@keyframes planet-move {
   0% {
      transform: translate3d(0, 30px, 0) rotate(0deg);
   }
   8.33% {
      transform: translate3d(15px, 25px, 0) rotate(30deg);
   }
   16.67% {
      transform: translate3d(25px, 15px, 0) rotate(60deg);
   }
   25% {
      transform: translate3d(30px, 0, 0) rotate(90deg);
   }
   33.33% {
      transform: translate3d(25px, -15px, 0) rotate(120deg);
   }
   41.67% {
      transform: translate3d(15px, -25px, 0) rotate(150deg);
   }
   50% {
      transform: translate3d(0, -30px, 0) rotate(180deg);
   }
   58.33% {
      transform: translate3d(-15px, -25px, 0) rotate(210deg);
   }
   66.67% {
      transform: translate3d(-25px, -15px, 0) rotate(240deg);
   }
   75% {
      transform: translate3d(-30px, 0, 0) rotate(270deg);
   }
   83.33% {
      transform: translate3d(-25px, 15px, 0) rotate(300deg);
   }
   91.67% {
      transform: translate3d(-15px, 25px, 0) rotate(330deg);
   }
   100% {
      transform: translate3d(0, 30px, 0) rotate(360deg);
   }
}

@keyframes gradient-animation {
   0% {
      background-position: 0% center;
   }
   100% {
      background-position: 400% center;
   }
}
