:root {
  --gradient-main: linear-gradient(90deg, #257cff 0%, #3b21ff 100%);
  --gradient-main-loop: linear-gradient(
    90deg,
    #b721ff 0%,
    #6625ff 35%,
    #257cff 50%,
    #6625ff 65%,
    #b721ff 100%
  );

  --gradient-green: linear-gradient(90deg, #40c463 0%, #6afb90 100%);
  --gradient-blue: linear-gradient(90deg, #257cff, #72aaff);
  --gradient-aqua: linear-gradient(90deg, #00aaff, hsl(170, 100%, 67%));
  --gradient-purple: linear-gradient(90deg, #b721ff, #d16fff);
  --gradient-pink: linear-gradient(90deg, #ff21e9, #ff6ff3);
  --gradient-white: linear-gradient(90deg, #c8c8c8, #f1f1f1);
  --gradient-yellow: linear-gradient(90deg, #fff421, #fdff6f);
  --gradient-red: linear-gradient(90deg, #ff3021, #ff796f);
  --gradient-orange: linear-gradient(90deg, #ff9421, #ffbe6f);

  --primary-color: #227bff;
  --primary-color-light: #5d9eff;
  --primary-color-transparent: rgba(24, 40, 63, 0.5);
  --primary-color-more-transparent: rgba(24, 40, 63, 0.25);

  --green-color: #40c463;
  --purple-color: #c851ff;
  --blue-color: #448fff;
  --aqua-color: #5fdfff;
  --white-color: #f1f1f1;
  --pink-color: #da3dca;
  --yellow-color: #dbd341;
  --red-color: #d34339;
  --orange-color: #ff9421;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  :root {
    --body-color: #0d1117;
    --contrast-color: #30363d;
    --transparent-background: hsla(0, 0%, 80%, 0.15);
    --more-transparent-background: hsla(0, 0%, 80%, 0.08);
    --card-background: #161b22d0;
    --font-color-primary: #f1f1f1;
    --font-color-secondary: #d3d3d3;
    --outline-color: #beb8ca;
  }
}
