//Imported styles
@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//Global styles
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.width-fix {
	max-width: $max-width-global;
	padding: $padding-global;
	margin: 0 auto;
}

html,
body {
	overflow-x: hidden;
	height: 100%;
}

#__next {
	position: relative;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}

html body {
	background-color: var(--body-color);
	font-size: $font-size-g-desktop;
}

a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: var(--body-color);
}

::-webkit-scrollbar-thumb {
	background: var(--contrast-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--transparent-background);
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--contrast-color) var(--body-color);
}

@media screen and (max-width: 800px) {
	html body {
		font-size: $font-size-g-mobile;
	}
}

@media screen and (max-width: 530px) {
	.width-fix {
		padding-bottom: 80px;
	}
}
