@import './colors.scss';
@import './animations.scss';
@import './mixins.scss';
@import './globals.scss';
@import './SplittedContainer.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.width-fix {
  max-width: $max-width-global;
  padding: $padding-global;
  margin: 0 auto;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

#__next {
  position: relative;
  max-width: 100vw;
}

html body {
  background-color: var(--body-color);
  font-size: $font-size-g-desktop;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background: var(--contrast-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--transparent-background);
}

@media screen and (max-width: 800px) {
  html body {
    font-size: $font-size-g-mobile;
  }
}

@media screen and (max-width: 530px) {
  .width-fix {
    padding-bottom: 80px;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
