$margin: 50px;

.splitted-container {
  @include flex-row;
  width: 100%;
  flex-wrap: wrap;

  & > div {
    width: calc(50% - calc($margin / 2));
    margin-right: $margin;
  }

  & > div:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .splitted-container {
    & > div {
      width: 100%;
      margin-right: 0;
    }
  }
}
