//Splitted Container styles desktop
$margin: 50px;

.splitted-container {
	@include flex-row;
	width: 100%;
	flex-wrap: wrap;

	.animated-container {
		width: calc(50% - calc($margin / 2));
		margin-right: $margin;
	}

	.animated-container:nth-child(2n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 800px) {
	.splitted-container {
		.animated-container {
			width: 100%;
			margin-right: 0;
		}
	}
}
