//Swiper styles
body {
	.swiper {
		padding-bottom: 20px;

		.swiper-pagination {
			top: unset;
			bottom: 5px;
		}
	}

	.swiper.image-slider {
		.swiper-slide {
			@include background-cover;
			background-position: top center;
			border-radius: 8px;
		}

		.swiper-pagination {
			@include flex-row;
			justify-content: center;
			gap: 4px;
            margin-top: 10px;

			.swiper-pagination-bullet {
				width: 24px;
				height: 7px;
				border-radius: 3px;
				background-color: var(--contrast-color);
				transition-duration: $transition-f;
				transition-timing-function: $transition-ease;
				transition-property: padding-right, padding-left, background-color;

				&:hover {
					background-color: var(--card-color);
				}
			}

			.swiper-pagination-bullet.swiper-pagination-bullet-active {
				background-image: var(--gradient-main);
			}
		}

		.swiper-scrollbar {
			background-color: var(--contrast-color);
			height: 5px;

			.swiper-scrollbar-drag {
				background-image: var(--gradient-main);
			}
		}
	}
}
