//Imported styles
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//Styled Card styles desktop
.title {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	color: var(--font-color-primary);
	font-size: $font-size-4xl;
	font-weight: $font-weight-extrabold;

	.accent {
		@include gradient-text-normal;
		display: inline-block;
		font-weight: $font-weight-black;
	}
}

@media screen and (max-width: 800px) {
	.title {
		font-size: $font-size-3xl;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: $font-size-exl;

		.accent {
			font-size: $font-size-2xl;
		}
	}
}
