@import '../animations.scss';
@import '../mixins.scss';
@import '../globals.scss';

.container {
  transition-timing-function: $transition-ease;
  transition-property: opacity, transform;
  transition-duration: $transition-vs;
  z-index: 0;
  transform: translate3d(0, -60px, 0);
  opacity: 0;

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
