@import '../animations.scss';
@import '../mixins.scss';
@import '../globals.scss';

.container {
  position: relative;

  .firstimage {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
  }

  .buttoncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    z-index: 10;
  }
}

@media screen and (max-width: 600px) {
}
