//Imported styles
@import "@/styles/animations.scss";
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//Summary styles desktop
.container {
	@include flex-column;
	position: relative;
	width: 100%;
}

.splitimage {
	@include flex-column;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
	max-width: 230px;
	min-width: 200px;

	.image {
		@include background-contain;
		width: 100%;
		height: auto;
		border-radius: 100%;
	}
}

.splittext {
	@include flex-column;
	flex: 1;
	min-width: 300px;

	.description {
		width: 100%;
		color: var(--font-color-secondary);
		font-size: $font-size-l;
		font-weight: $font-weight-medium;
		line-height: $font-size-xxxl;

		.bold {
			font-weight: $font-weight-bold;
			color: var(--font-color-primary);
		}

		.accent {
			@include gradient-text-accent;
			font-weight: $font-weight-black;
			display: inline-block;
		}

		.break {
			margin-bottom: 8px;
		}
	}
}

.links {
	width: 100%;
	margin-top: 40px;
	@include flex-row;
	flex-wrap: wrap;

	.link {
		margin-right: 15px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 800px) {
	.splitimage {
		margin-right: 0;
		max-width: unset;
		width: 100%;
		margin-bottom: 15px;
	}

	.links {
		justify-content: space-between;

		.link {
			margin-right: 0;
			width: 48%;
			max-width: unset;
		}
	}
}

@media screen and (max-width: 600px) {
	.links {
		.link {
			width: 100%;
			margin-right: 0;
		}
	}
}
