:root {
	--gradient-main: linear-gradient(
		90deg,
		#00fbff 0%,
		#257cff 40%,
		#b721ff 100%
	);
	--gradient-green: linear-gradient(
		90deg,
		#40c463 0%,
		#6afb90 100%
	);
	--gradient-red: linear-gradient(
		90deg,
		#c44040 0%,
		#fb6a6a 100%
	);
	--gradient-yellow: linear-gradient(
		90deg,
		#d4db40 0%,
		#e3fb6a 100%
	);
	--gradient-orange: linear-gradient(
		90deg,
		#e2812c 0%,
		#fbbe6a 100%
	);
	--gradient-main-loop: linear-gradient(
		90deg,
		#b721ff 0%,
		#257cff 33%,
		#00fbff 66%,
		#b721ff 100%
	);
	--primary-color: #227bff;
	--primary-color-light: #5d9eff;
	--primary-color-transparent: #00dade5a;
	--secondary-color: #dd7df7;
	--accent-color: #40c463;
}

@media (prefers-color-scheme: light) {
	:root {
		--body-color: #f1f1f1;
		--contrast-color: #c4c4c4;
		--transparent-background: hsla(0, 0%, 20%, 0.15);
		--font-color-primary: #081f32;
		--font-color-secondary: #474766;
		--outline-color: #36364d;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-color: #0d1117;
		--contrast-color: #5a5a5a;
		--transparent-background: hsla(0, 0%, 80%, 0.15);
		--font-color-primary: #f1f1f1;
		--font-color-secondary: #bcbcbc;
		--outline-color: #beb8ca;
	}
}
