:root {
	--gradient-main: linear-gradient(
		90deg,
		#00fbff 0%,
		#257cff 40%,
		#b721ff 100%
	);
	--gradient-main-loop: linear-gradient(
		90deg,
		#b721ff 0%,
		#257cff 33%,
		#00fbff 66%,
		#b721ff 100%
	);
	--gradient-green: linear-gradient(90deg, #40c463 0%, #6afb90 100%);
	--gradient-blue: linear-gradient(90deg, #257cff, #72aaff);
	--gradient-aqua: linear-gradient(90deg, #00bfff, #57fcff);
	--gradient-purple: linear-gradient(90deg, #b721ff, #d16fff);

	--primary-color: #227bff;
	--primary-color-light: #5d9eff;
	--primary-color-transparent: #5d9eff67;
	--green-color: #40c463;
	--purple-color: #d16fff;
	--blue-color: #72aaff;
	--aqua-color: #00bfff;
}

@media (prefers-color-scheme: light) {
	// :root {
	// 	--body-color: #f1f1f1;
	// 	--contrast-color: #c4c4c4;
	// 	--transparent-background: hsla(0, 0%, 20%, 0.15);
	// 	--card-background: #96b9ead0;
	// 	--font-color-primary: #081f32;
	// 	--font-color-secondary: #474766;
	// 	--outline-color: #36364d;
	// }
	:root {
		--body-color: #0d1117;
		--contrast-color: #30363d;
		--transparent-background: hsla(0, 0%, 80%, 0.15);
		--card-background: #161b22d0;
		--font-color-primary: #f1f1f1;
		--font-color-secondary: #bcbcbc;
		--outline-color: #beb8ca;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-color: #0d1117;
		--contrast-color: #30363d;
		--transparent-background: hsla(0, 0%, 80%, 0.15);
		--card-background: #161b22d0;
		--font-color-primary: #f1f1f1;
		--font-color-secondary: #bcbcbc;
		--outline-color: #beb8ca;
	}
}
