//General styles
$border-radius-global: 10px;
$max-width-global: 1300px;
$padding-global: 20px;

//Font sizes
$font-size-g: 16px;
$font-size-es: 0.8rem;
$font-size-s: 0.9rem;
$font-size-m: 1rem;
$font-size-l: 1.4rem;
$font-size-el: 1.6rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2rem;

//Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-extrabold: 700;
$font-weight-black: 800;

//Transition speeds
$transition-s: 500ms;
$transition-m: 300ms;
$transition-f: 200ms;
