//Imported styles
@import "./mixins.scss";
@import "./globals.scss";

//Header styles desktop
.container {
	position: relative;
	width: 100%;
	.header {
		position: absolute;
		top: 0;
		left: 0;
		$height: 40px;
		width: 100%;
		.fix {
			@include flex-row;
			@include width-fix;
			align-items: center;
			justify-content: flex-start;
		}
		.name {
			@include flex-row;
			align-items: center;
			justify-content: flex-start;
			.logo {
				@include gradient-animation-effect;
				@include flex-row;
				cursor: pointer;
				align-items: center;
				justify-content: center;
				height: $height;
				aspect-ratio: 1 / 1;
				border-radius: $height/2;
				margin-right: 8px;
				padding-top: 5px;
				transition: $transition-f;
				box-shadow: 0 0px 0px var(--primary-color-transparent);
				.image {
					@include background-contain;
					height: $height/1.5;
					aspect-ratio: 1 / 1;
					background-image: url("../public/image/png/logo.png");
					transition: $transition-f;
				}
			}
			.logo:hover {
				@include gradient-animation-effect-hover;
				box-shadow: 0 0 30px var(--primary-color-transparent);
			}
			.text {
				font-size: $font-size-el;
				font-weight: $font-weight-bold;
				color: var(--font-color-primary);
			}
		}
		.navbar {
			@include flex-row;
			align-items: center;
			justify-content: center;
			.link {
				$padding: 20px;
				margin-right: -10px;
				height: $height;
				border-radius: $border-radius-global;
				padding-right: $padding;
				padding-left: $padding;
				color: var(--font-color-primary);
				font-weight: $font-weight-medium;
				font-size: $font-size-m;
				text-transform: unset;
			}
			.link:last-child {
				margin-right: 0;
			}
		}
		.button {
			$padding: 20px;
			margin-left: auto;
			height: $height;
			border-radius: $border-radius-global;
			padding-right: $padding;
			padding-left: $padding;
			color: var(--font-color-primary);
			font-weight: $font-weight-medium;
			font-size: $font-size-s;
			text-transform: unset;
			background-color: var(--transparent-background);
			// border: 1.5px solid var(--contrast-color);
			box-shadow: 0 0px 0px var(--primary-color-transparent);
			transition: $transition-f;
			// opacity: 1;
		}
		.button:hover {
			box-shadow: 0 0 30px var(--primary-color-transparent);
			// opacity: 0.8;
		}
		.button::before {
			@include masked-button;
		}
	}

	.parallax {
		background-image: url("../public/image/jpg/hero.jpg");
		width: 100%;
		height: 70vh;
		background-attachment: fixed;
		background-position: 50% 80%;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.35;
		z-index: -1;
	}
}
