//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Header styles desktop
$height: 40px;

.header {
	position: fixed;
	z-index: 10;
	width: 100%;
	transition: top $transition-m cubic-bezier(0.16, 1, 0.3, 1);
	top: 15px;
	left: 0;

	.fix {
		@include flex-row;
		align-items: center;
		justify-content: flex-start;
		border-radius: $border-radius-global;
		max-width: calc($max-width-global - 30px);
		padding: 5px;
		margin: 0 auto;
		background-color: transparent;
		transition: background-color $transition-m cubic-bezier(0.16, 1, 0.3, 1);
	}

	.name {
		@include flex-row;
		align-items: center;
		justify-content: flex-start;

		.logo {
			@include gradient-animation-effect;
			@include flex-row;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			height: $height;
			aspect-ratio: 1 / 1;
			border-radius: $height/2;
			margin-right: 8px;
			padding-top: 5px;
			transition: $transition-f;
			box-shadow: 0 0px 0px var(--primary-color-transparent);

			.image {
				@include background-contain;
				height: $height/1.5;
				aspect-ratio: 1 / 1;
				background-image: url("../public/image/png/logo.png");
				transition: $transition-f;
			}
		}

		.logo:hover {
			@include gradient-animation-effect-hover;
			box-shadow: 0 0 30px var(--primary-color-transparent);
		}
	}

	.navbar {
		@include flex-row;
		align-items: center;
		justify-content: center;

		.linkcontainer {
			position: relative;
			display: inline-block;

			.icon {
				position: absolute;
				color: var(--blue-color);
				top: calc(50% - calc($font-size-xxxl / 2));
				right: 15px;
				opacity: 0;
				font-size: $font-size-xxxl;
				transition: opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1),
					right $transition-s cubic-bezier(0.16, 1, 0.3, 1);
			}

			.icon.static {
				top: calc(50% - calc($font-size-xxl / 2));
				left: 8px;
				opacity: 1;
				font-size: $font-size-xxl;
			}

			.link {
				display: block;
				height: $height;
				border-radius: $border-radius-global;
				padding-right: 20px;
				padding-left: 40px;
				background-color: transparent;
				color: var(--font-color-primary);
				font-weight: $font-weight-medium;
				font-size: $font-size-m;
				text-transform: unset;
				transition: padding-right $transition-s cubic-bezier(0.16, 1, 0.3, 1),
					padding-left $transition-s cubic-bezier(0.16, 1, 0.3, 1),
					background-color $transition-f cubic-bezier(0.16, 1, 0.3, 1);
			}
		}

		.linkcontainer:hover {
			.link {
				padding-right: 40px;
				padding-left: 20px;
				background-color: var(--transparent-background);
			}

			.icon {
				right: 8px;
				opacity: 1;
			}

			.icon.static {
				left: 15px;
				opacity: 0;
			}
		}

		.linkcontainer:first-child {
			margin-left: 15px;
		}
	}

	.upbutton {
		pointer-events: none;
		opacity: 0;
		display: block;
		height: $height;
		width: $height;
		padding: 0;
		min-width: unset;
		align-items: center;
		line-height: 0;
		border-radius: $border-radius-global;
		color: var(--blue-color);
		background-color: transparent;
		transition: background-color $transition-f cubic-bezier(0.16, 1, 0.3, 1),
			opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1);

		.iconfirst {
			position: absolute;
			top: calc(($height / 2) - calc($font-size-xxxl / 2));
			left: calc(($height / 2) - calc($font-size-xxxl / 2));
			opacity: 1;
			font-size: $font-size-xxxl;
			transition: opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1);
		}

		.iconsecond {
			position: absolute;
			top: calc(($height / 2) - calc($font-size-xxxl / 2));
			left: calc(($height / 2) - calc($font-size-xxxl / 2));
			opacity: 0;
			font-size: $font-size-xxxl;
			transition: opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1);
		}
	}

	.upbutton:hover {
		background-color: var(--transparent-background);

		.iconfirst {
			opacity: 0;
		}

		.iconsecond {
			opacity: 1;
		}
	}

	.buttoncontainer {
		position: relative;
		display: inline-block;
		margin-left: auto;

		.icon {
			position: absolute;
			color: var(--blue-color);
			top: calc(50% - calc($font-size-xxxl / 2));
			right: 15px;
			opacity: 0;
			font-size: $font-size-xxxl;
			transition: opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				right $transition-s cubic-bezier(0.16, 1, 0.3, 1);
		}

		.icon.static {
			top: calc(50% - calc($font-size-xl / 2));
			left: 8px;
			opacity: 1;
			font-size: $font-size-xl;
		}

		.button {
			display: block;
			height: $height;
			border-radius: $border-radius-global;
			padding-right: 20px;
			padding-left: 40px;
			border: 2px dashed var(--blue-color);
			background-color: var(--primary-color-transparent);
			color: var(--font-color-primary);
			font-weight: $font-weight-medium;
			font-size: $font-size-s;
			text-transform: unset;
			transition: padding-right $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				padding-left $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				background-color $transition-f cubic-bezier(0.16, 1, 0.3, 1);
		}
	}

	.buttoncontainer:hover {
		.button {
			padding-right: 40px;
			padding-left: 20px;
			background-color: var(--transparent-background);
		}

		.icon {
			right: 8px;
			opacity: 1;
		}

		.icon.static {
			left: 15px;
			opacity: 0;
		}
	}
}

.stick {
	top: 23px;

	.fix {
		backdrop-filter: blur(5px);
		background-color: var(--primary-color-transparent);
	}

	.upbutton {
		opacity: 1;
		pointer-events: unset;
	}
}

.dummyheader {
	width: 100%;
	padding: 20px;

	.dummy {
		height: $height;
	}
}

@media screen and (max-width: 1050px) {
	.header {
		position: relative;

		.fix {
			padding: 0 20px;
		}

		.navbar {
			display: none;
		}

		.button {
			font-weight: $font-weight-semibold;
		}
	}
}
