//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Hero styles desktop
.container {
	@include flex-row-inline;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	.intro {
		@include flex-column;
		align-items: center;
		justify-content: center;
		margin: 200px auto 250px;
		.big {
			@include gradient-text-loop;
			width: 100%;
			font-size: 3.5em;
			font-weight: $font-weight-black;
			text-transform: uppercase;

			animation: gradient-animation 50s linear infinite;
		}
		.small {
			display: inline-block;
			width: 100%;
			margin-top: -15px;
			color: var(--font-color-primary);
			font-size: $font-size-xl;
			font-weight: $font-weight-black;
			text-align: justify;
			text-align-last: justify;
			text-transform: capitalize;
			.accent {
				@include gradient-text-accent;
				display: inline-block;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.container {
		justify-content: flex-start;
		.intro {
			margin: 10px auto 250px;
			.small {
				margin-top: 0;
				font-size: $font-size-l;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.container {
		.intro {
			.small {
				font-size: $font-size-em;
			}
		}
	}
}
