//Imported styles
@import "./colors.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Global variables
$max-width-global: 1300px;
$padding-global: 20px;

//Global styles
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#__next {
	max-width: $max-width-global;
	padding: $padding-global;
	margin: 0 auto;
	padding: 20px;
	height: 100%;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	height: 100%;
}

html body {
	background-color: var(--body-color);
	font-size: $font-size-g;
}

a {
	color: inherit;
	text-decoration: none;
}
