@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin background-contain {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin gradient-animation-effect {
    background-image: var(--gradient-main);
    background-size: 200% 200%;
    background-position: 40% 90%;
}

@mixin gradient-animation-effect-hover {
    background-position: 99% 90%;
}

@mixin masked-button {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 1.5px;
    border-radius: 20px;
    background: var(--gradient-main);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
