//Imported styles
@import "./mixins.scss";
@import "./globals.scss";

//Styled Card styles desktop
.container {
	@include flex-row;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	padding: 50px;
	border: 1px solid var(--contrast-color);
	background-color: var(--card-background);
	border-radius: $border-radius-global;
	overflow: hidden;
	transition: transform $transition-f cubic-bezier(0.16, 1, 0.3, 1);

	.glow {
		position: absolute;
		top: 0;
		left: 0;
		$size: 650px;
		width: $size;
		height: $size;
		filter: blur(180px);
		border-radius: 300px;
		opacity: 0;
		transition: opacity $transition-vs cubic-bezier(0.16, 1, 0.3, 1);
		mix-blend-mode: soft-light;
		will-change: transform;
		background-color: var(--green-color);
		opacity: 0;
		z-index: -2;
	}
}

.container.narrowbottom {
	padding: 50px 50px 30px;
}

.container:hover {
	.glow {
		opacity: 0.75;
	}
}

@media screen and (max-width: 800px) {
	.container {
		padding: 20px;
	}

	.container.narrowbottom {
		padding: 20px 20px 0;
	}

	.container:hover {
		.glow {
			opacity: 0;
		}
	}
}
