//Imported styles
@import "./mixins.scss";
@import "./globals.scss";

//Styled Card styles desktop
.container {
	@include flex-row;
	position: relative;
	width: 100%;
	padding: 20px;
	border: 1px solid var(--contrast-color);
	background-color: var(--transparent-background);
	border-radius: $border-radius-global;
	overflow: hidden;
	transition: $transition-vf;
	.glow {
		position: absolute;
		top: 0;
		left: 0;
		$size: 200px;
		width: $size;
		height: $size;
		background-color: var(--accent-color);
		filter: blur(100px);
		transition-property: opacity;
		transition-duration: $transition-f;
		opacity: 0;
	}
}

.container:hover {
	.glow {
		opacity: 0.75;
	}
}
