//Imported styles
@import "@/styles/animations.scss";
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//StyledButton styles desktop
body .button {
	display: inline-flex;
	align-items: center;
	position: relative;
	border-radius: 7px;
	padding-right: 25px;
	padding-left: 45px;
	min-width: unset;
	width: unset;
	max-width: 240px;
	color: var(--font-color-primary);
	font-weight: $font-weight-medium;
	font-size: $font-size-m;
	text-transform: unset;
	transition: padding-right $transition-m $transition-ease,
		padding-left $transition-m $transition-ease,
		background-color $transition-m $transition-ease;

	.text {
		display: inline-block;
		@include overflow-ellipsis;
		width: 100%;
	}

	.icon {
		position: absolute;
		right: 12px;
		opacity: 0;
		transition: opacity $transition-s $transition-ease,
			right $transition-s $transition-ease;
		z-index: 1;
	}

	.icon.small {
		top: calc(50% - calc($font-size-l / 2));
		font-size: $font-size-l;
	}

	.icon.normal {
		top: calc(50% - calc($font-size-xl / 2));
		font-size: $font-size-xl;
	}

	.icon.big {
		top: calc(50% - calc($font-size-xxl / 2));
		font-size: $font-size-xxl;
	}

	.icon.large {
		top: calc(50% - calc($font-size-xxxl / 2));
		font-size: $font-size-xxxl;
	}

	.icon.static {
		left: 12px;
		opacity: 1;
		z-index: 1;
	}

	.bar {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0%;
		background-color: var(--gradient-green);
		transition-property: width;
		transition: width $transition-s $transition-ease;
		z-index: 2;
	}
}

.button:hover {
	padding-right: 45px;
	padding-left: 25px;

	.icon {
		right: 10px;
		opacity: 1;
	}

	.icon.static {
		left: 12px;
		opacity: 0;
	}

	.bar {
		width: 100%;
	}
}

.button.glass {
	background-color: var(--more-transparent-background);
}

.button.glass:hover {
	background-color: var(--transparent-background);
}

.button:hover {
	background-color: var(--transparent-background);
}

@media screen and (max-width: 1050px) {
}
