//Imported styles
@import "./mixins.scss";
@import "./globals.scss";

//Styled Card styles desktop
.title {
	width: 100%;
	margin-top: -15px;
	color: var(--font-color-primary);
	font-size: $font-size-xxxxl;
	font-weight: $font-weight-black;
	.accent {
		@include gradient-text-accent;
		display: inline-block;
	}
}
