//Imported styles
@import "@/styles/mixins.scss";
@import "@/styles/globals.scss";

//Styled Card styles desktop
.title {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	color: var(--font-color-primary);
	font-size: $font-size-xxxxl;
	font-weight: $font-weight-extrabold;
	
	.accent {
		@include gradient-text-normal;
		display: inline-block;
	}
}

@media screen and (max-width: 800px) {
	.title {
		font-size: $font-size-xxxl;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: $font-size-xl;
	}
}