//Imported styles
@import "./animations.scss";
@import "./mixins.scss";
@import "./globals.scss";

//Summary styles desktop
.container {
	@include flex-column;
	position: relative;
	width: 100%;

	.companycontainer {
		$height: 70px;
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
		width: 100%;

		.image {
			@include background-contain;
			position: absolute;
			top: 10px;
			left: 10px;
			width: calc($height - 20px);
			height: calc($height - 20px);
			border-radius: 5px;
		}

		.icon {
			position: absolute;
			top: calc(50% - calc($font-size-xxxl / 2));
			right: 25px;
			opacity: 0;
			font-size: $font-size-xxxl;
			transition: opacity $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				right $transition-s cubic-bezier(0.16, 1, 0.3, 1);
		}

		.button {
			width: 100%;
			display: block;
			height: $height;
			border-radius: $border-radius-global;
			padding-right: calc($font-size-xxxl + 25px);
			padding-left: calc($height + 10px);
			background-color: var(--primary-color-transparent);
			color: var(--font-color-secondary);
			font-weight: $font-weight-medium;
			font-size: $font-size-em;
			line-height: $font-size-xxl;
			text-transform: unset;
			text-align: left;
			transition: padding-right $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				padding-left $transition-s cubic-bezier(0.16, 1, 0.3, 1),
				background-color $transition-f cubic-bezier(0.16, 1, 0.3, 1);

			.bold {
				color: var(--font-color-primary);
				font-weight: $font-weight-semibold;
			}
		}
	}

	.companycontainer:hover {
		.button {
			background-color: var(--transparent-background);
		}

		.icon {
			right: 15px;
			opacity: 1;
		}
	}

	.experience {
		.icon {
			vertical-align: middle;
			font-size: $font-size-xl;
			margin-right: 10px;
			margin-bottom: 5px;
		}

		.text {
			color: var(--font-color-secondary);
			font-weight: $font-weight-medium;
			font-size: $font-size-em;
			line-height: $font-size-xxxl;

			.bold {
				color: var(--font-color-primary);
				font-weight: $font-weight-semibold;
			}
		}
	}
}

@media screen and (max-width: 800px) {
}
